
/* .img-responsive {
  max-width: 30%; /* or to whatever you want here */
  /* max-height: 30%; /* or to whatever you want here */
/* } */
.img-fluid {
  max-width: 30%;
  height: 30%;
}
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-toastr/toastr.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
