/* .card-dimensions {
  height: 162px;
  width: 23%;
}

.card {
  font-family: sans-serif;
  font-size: 18px;
  background: #D2D2D2;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.card-container {
  justify-content: start;
}

.color-purple {
  color: #A550BC;
} */
