<!--
            <a class="nav-link dropdown-toggle "   id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" routerLinkActive="router-link-active"  [routerLink]="['/listeproduit']">liste produits</a>
                <a class="dropdown-item" [routerLink]="['/ajoutclient']">ajout client</a>
                <a class="dropdown-item" [routerLink]="['/listeclient']">liste client</a>
                <a class="dropdown-item" [routerLink]="['/ajoutproduit']">ajout produit</a>
              </div>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fournitures scolaires</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Cahiers, Carnets, Blocs Notes </a>
          <a class="dropdown-item" href="#">Ecriture</a>
          <a class="dropdown-item" href="#">Dessin et peinture </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sac à dos et charriots</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Sac à dos </a>
          <a class="dropdown-item" href="#">Chariots</a>
        </div>
      </li> -->


<!--Navbar-->

<!--Main Navigation-->
    <nav class=" navbar-expand-lg  indigo   navbar navbar-light blue-grey lighten-5">
        <mdb-navbar-brand>
            <a class="navbar-brand" [routerLink]="[''] ">
                <img  src="http://www.pageshalal.fr/images/logo2015.gif" height="40" width="100" >
              </a>
        </mdb-navbar-brand>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']">Fourniture Scolaire</a>
              </li>
          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Manuels Scolaires<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/4']" mdbWavesEffect>Base</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/5']" mdbWavesEffect>Secondaire</a>
              </div>
          </li>
          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Parascolaire<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/6']" mdbWavesEffect>Base</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/7']" mdbWavesEffect>Secondaire</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/categorie','2']">Sac à dos</a>
            </li>
        </ul>

        <div *ngIf ="info.authorities=='ROLE_USER' " >
        <a class="nav-item "  >
          <i class="fa fa-shopping-cart" [routerLink]="['/panier'] ">
            <span > (0)</span>
          </i>
        </a>
        </div>

           <div *ngIf ="info.authorities=='ROLE_ADMIN' " >
             <a class="nav-item " > <i class="fa fa-bell " [routerLink]="['/notificationContact']"></i></a>
               <!-- </div> -->
               <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle fa fa-cog" mdbWavesEffect>
                  <span class="caret"></span>
              </a>

              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" [routerLink]="['/listeclient']" mdbWavesEffect>Utilisateur</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/listeproduit']" mdbWavesEffect>Produit</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/notificationContact']" mdbWavesEffect>Notification</a>
                </div>
            </div>

          <!-- </li> -->


        <strong class="nav-item fa fa-user"> {{info.username}}  </strong> <br/>
            <!-- <i class=" "></i> -->
        <div *ngIf="info.token; else loggedOut">

        <button type="button" (click)="logout()"  mdbBtn color="danger" class="btn btn-primary btn-sm" mdbWavesEffect> <i class="fa fa-sign-in"> logOut</i> </button>
         </div>
         <ng-template #loggedOut>
          <button type="button" [routerLink]="['/login']" mdbBtn color="dark" class="btn btn-primary btn-sm" mdbWavesEffect> <i class="fa fa-sign-in"> Login</i> </button>
        </ng-template>
      </div>

      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="mymodal" (click)="open(content)"> Login</button>

    </nav>
  <!--Main Modal Page login-->
  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Login/SignIn</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <app-login></app-login>
      <div>


++++++++++++++++++++++++++++++++
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- Button trigger modal -->

<div class="container">
    <hr class="prettyline">
    <br>

    <h1><b>Sorry</b></h1>
    <h3>You need to sign in or register for this service</h3>
    <em>Donate Dogecoin: DD7StzN1wGQhE4a47uDsBodkS4DE8gxcwh</em>
    <br>
  <button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</button>

  <br>
    <hr class="prettyline">
 </div>


<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="why">
        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
        <!-- <p></p><br> Please contact <a mailto:href="JoeSixPack@Sixpacksrus.com"></a>JoeSixPack@Sixpacksrus.com</a> for any other inquiries.</p> -->
        </div>
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Alias:</label>
              <div class="controls">
                <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
              </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            <div class="control-group">
              <label class="control-label" for="rememberme"></label>
              <div class="controls">
                <label class="checkbox inline" for="rememberme-0">
                  <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                  Remember me
                </label>
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="signin" name="signin" class="btn btn-success">Sign In</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="Email">Email:</label>
              <div class="controls">
                <input id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Alias:</label>
              <div class="controls">
                <input id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                <em>1-8 Characters</em>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
              <div class="controls">
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
              </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <br>
            <div class="control-group">
              <label class="control-label" for="humancheck">Humanity Check:</label>
              <div class="controls">
                <label class="radio inline" for="humancheck-0">
                  <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                <label class="radio inline" for="humancheck-1">
                  <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
++++++++++++++++++++++++++++++++













      </div>
  </ng-template>
