<!--
            <a class="nav-link dropdown-toggle "   id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" routerLinkActive="router-link-active"  [routerLink]="['/listeproduit']">liste produits</a>
                <a class="dropdown-item" [routerLink]="['/ajoutclient']">ajout client</a>
                <a class="dropdown-item" [routerLink]="['/listeclient']">liste client</a>
                <a class="dropdown-item" [routerLink]="['/ajoutproduit']">ajout produit</a>
              </div>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fournitures scolaires</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Cahiers, Carnets, Blocs Notes </a>
          <a class="dropdown-item" href="#">Ecriture</a>
          <a class="dropdown-item" href="#">Dessin et peinture </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sac à dos et charriots</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Sac à dos </a>
          <a class="dropdown-item" href="#">Chariots</a>
        </div>
      </li> -->


<!--Navbar-->

<!--Main Navigation-->
    <nav class=" navbar-expand-lg  indigo   navbar navbar-light blue-grey lighten-5">
        <mdb-navbar-brand>
            <a class="navbar-brand" [routerLink]="[''] ">
                <img  src="http://www.pageshalal.fr/images/logo2015.gif" height="40" width="100" >
              </a>
        </mdb-navbar-brand>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']">Fourniture Scolaire</a>
              </li>
          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Manuels Scolaires<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/4']" mdbWavesEffect>Base</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/5']" mdbWavesEffect>Secondaire</a>
              </div>
          </li>
          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Parascolaire<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/6']" mdbWavesEffect>Base</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/categorie/7']" mdbWavesEffect>Secondaire</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/categorie','2']">Sac à dos</a>
            </li>
        </ul>

        <strong class="nav-item "  >Username:</strong> {{info.username}}<br/>

          <a  class="nav-item " > <i class="fa fa-bell " [routerLink]="['/notificationContact']"></i>
          </a>

          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle fa fa-cog" mdbWavesEffect>
                  <span class="caret"></span>
              </a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" [routerLink]="['/listeclient']" mdbWavesEffect>Utilisateur</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/listeproduit']" mdbWavesEffect>Produit</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/notificationContact']" mdbWavesEffect>Notification</a>
                </div>
          </li>

          <a class="nav-item "  >
              <i class="fa fa-shopping-cart" [routerLink]="['/panier'] ">
                <span > (1)</span>
              </i>
            </a>

        <div *ngIf="info.token; else loggedOut">

        <button type="button" (click)="logout()"  mdbBtn color="danger" class="btn btn-primary btn-sm" mdbWavesEffect> <i class="fa fa-sign-in"> logOut</i> </button>
         </div>
         <ng-template #loggedOut>
          <button type="button" [routerLink]="['/login']" mdbBtn color="dark" class="btn btn-primary btn-sm" mdbWavesEffect> <i class="fa fa-sign-in"> Login</i> </button>
        </ng-template>
      </div>
    </nav>

  <!--Main Navigation-->
