<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  [routerLink]="['/']"> <img src="http://istrosbooks.com/upload/2018/02/buecher-lineart_5a805ea412c6e.png" width="50" height="30">Librairie Ajyel</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle "   id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" routerLinkActive="router-link-active"  [routerLink]="['/listeproduit']">liste produits</a>
                <a class="dropdown-item" [routerLink]="['/ajoutclient']">ajout client</a>
                <a class="dropdown-item" [routerLink]="['/listeclient']">liste client</a>
                <a class="dropdown-item" [routerLink]="['/ajoutproduit']">ajout produit</a>
              </div>
          </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manuels Scolaires</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Base</a>
          <a class="dropdown-item" href="#">Secondaire</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fournitures scolaires</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Cahiers, Carnets, Blocs Notes </a>
          <a class="dropdown-item" href="#">Ecriture</a>
          <a class="dropdown-item" href="#">Dessin et peinture </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sac à dos et charriots</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Sac à dos </a>
          <a class="dropdown-item" href="#">Chariots</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Parascolaires</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Base</a>
          <a class="dropdown-item" href="#">Secondaire</a>
        </div>
      </li>
    </ul>

      <a class="btn btn-success btn-sm ml-1" [routerLink]="['/listepanier'] ">
          <i class="fa fa-shopping-cart"></i> Panier
          <span class="badge badge-light">3</span>
      </a>
      <a class="btn btn-danger btn-sm ml-1 "  >
          <i class="fa fa-lock"> Déconnecter</i>
      </a>

  </div>

</nav> -->
<!--Navbar-->

<!--Main Navigation-->
    <nav class=" navbar-expand-lg  indigo   navbar navbar-light blue-grey lighten-5">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">
                <img src="http://www.pageshalal.fr/images/logo2015.gif" height="40" width="100" alt="partenaire">
            </a>
            <a [routerLink]="[ '/detailproduits', prod.reference_Produit ] ">
              <img class="card-img-top" src="{{prod.image}} " height="100" width="100">
            </a>
        </mdb-navbar-brand>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Fourniture Scolaire</a>
              </li>
          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Manuels Scolaires<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Base</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Secondaire</a>
              </div>
          </li>
          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Parascolaire<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Base</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Secondaire</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/factureClient'] ">Sac à dos</a>
            </li>


        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle fa fa-cog" mdbWavesEffect>
                  Settings<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" [routerLink]="['/listeclient']" mdbWavesEffect>Utilisateur</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" [routerLink]="['/listeproduit']" mdbWavesEffect>Produit</a>
              </div>
          </li>
          <a class="btn btn-success btn-sm ml-1" [routerLink]="['/listepanier'] ">
            <i class="fa fa-shopping-cart"></i> Panier
            <span class="badge badge-light">3</span>
        </a>
        <a class="btn btn-danger btn-sm ml-1 "  >
            <i class="fa fa-lock"> Déconnecter</i>
        </a>
        </ul>
      </div>
    </nav>

  <!--Main Navigation-->
