<div class="container">

    <div class="span9" id="mainCol">
        <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Catalogue</li>
        </ul>
      <h3> Catalogue </h3>
      <hr class="soft"/>
      <h5>Produis</h5><br/>
      <p>
      </p>
    </div>
    </div>
    


    <hr>
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="{{prod.image}} " height="300" width="300" /></div>
          </div>
        </div>

        <div class="details col-md-6">
          <h3 class="product-title">{{prod.libelle}}</h3>
          <h4 class="price">{{prod.prix}} <span>dt</span></h4>

          <div class="section" style="padding-bottom:20px;">
            <h6 class="title-attr"><small>Quantite</small></h6>
            <div>
                <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                <input value="1" />
                <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
        </div>

          <div class="action">
            <button class="add-to-cart btn btn-default" type="button">Ajouter au panier</button>
            <button class="like btn btn-default" type="button"><span class="fa fa-shopping-cart"></span></button>
          </div>
        </div>
      </div>
      <hr>
    </div>


