<div class="container">
    <hr>

    <div class="span9" id="mainCol">
        <ul class="breadcrumb">
        <li><a [routerLink]="[''] ">Page d'acceuil</a> <span class="divider"> / </span></li>
        <li>  Fourniture Scolaire  </li>
        </ul>
    </div>
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="{{prod.image}} " height="300" width="300" /></div>
          </div>
        </div>

        <div class="details col-md-6">
          <h3 class="product-title">{{prod.libelle}}</h3>
          <h5 class="product-title">Prix</h5>
          <h5 class="price">{{prod.prix}} <span>dt</span></h5>
<form>
    <fieldset>

            <label class="product-title">Quantite</label>
            <input type="number" value="1"  class="form-control" style="width: 80px; height: 30px;">
    </fieldset>

 </form>
 <hr>
          <div class="action">
            <!-- <button class="fa fa-shopping-cart add-to-cart btn btn-default " type="button">  Ajouter au panier</button> -->
            <button (click)="AjoutPanier(reference_Produit)"like btn btn-default" type="button"><span class="fa fa-shopping-cart"></span>  Ajouter au panier</button>
          </div>
        </div>
      </div>
      <hr>
    </div>


