<div class="card mt-2">
  <div class="card-header text-black row justify-content-center">
    <h4> Liste des Clients </h4>
  </div>
  <div class="card-body">
   <table class="table table-bordered table-striped">
     <thead>
       <tr>
         <th>CIN</th>
         <th>Prenom</th>
         <th>Nom</th>
         <th>Mail</th>
         <th>Tel</th>
		 <th>Adresse</th>
       </tr>
     </thead>
     <tbody>
       <tr  *ngFor="let item of Clients">
         <td>{{item.cin}}</td>
         <td>{{item.prenom}}</td>
         <td>{{item.nom}}</td>
         <td>{{item.email}}</td>
         <td>{{item.tel}}</td>
         <td>{{item.adresse}}</td>
         <!-- (click)="supprimerClient(item.id)" -->
         <td><button class="btn btn-danger" (click)="SupprimerClient(item.id_client)" >Supprimer</button></td>
         <!-- <td><button class="btn btn-primary">Modifier</button></td> -->
         <td><button type="button"  class="btn  btn-primary" data-toggle="modal" data-target="#myModal">Modifier</button> </td>


       </tr>
     </tbody>
   </table>
  </div>
</div>
