<div class="container">
  <div id="content" #content>
<div class="card">
    <div class="card-header">
    <strong >FACTURE DES ACHATS </strong>
      <span class="float-right"> <button (click)="downloadPDF()downloadPDF">telecharger </button></span>

    </div>
    <div class="card-body">
    <div class="row mb-4">
    <div class="col-sm-6">
    <div>
    <strong> De: Librairie El-Ajyel</strong>
    </div>
    <div>16 rue des coings les jardin de l'aouina </div>
    <div>2045,Tunis,Tunisie</div>
    <div>Tel:97415511</div>
    </div>

    <div class="col-sm-6">
    <div>
    <strong>A: Messaoudi Sonia</strong>
    </div>
    <div>Ariana </div>
    <div>Email: messaoudi.sonia96@gmail.com</div>
    <div>Tel: 24937473</div>
    </div>



    </div>

    <div class="table-responsive-sm">
    <table class="table table-striped">
    <thead>
    <tr>
    <th class="center"></th>
    <th>Article</th>
    <th>Description</th>

    <th class="right">Prix utitaire</th>
      <th class="center">Qantite</th>
    <th class="right">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td class="center">1</td>
    <td class="left strong">Stylo</td>
    <td class="left"> Bic Bleu</td>

    <td class="right">200</td>
      <td class="center">2</td>
    <td class="right">400</td>
    </tr>
    <tr>
    <td class="center">2</td>
    <td class="left"> Trousse</td>
    <td class="left"> marque bimo</td>

    <td class="right">3000</td>
      <td class="center">2</td>
    <td class="right">6000</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="row">
    <div class="col-lg-4 col-sm-5">

    </div>

    <div class="col-lg-4 col-sm-5 ml-auto">
    <table class="table table-clear">
    <tbody>

    <tr>
    <td class="left">
    <strong>Total</strong>
    </td>
    <td class="right">
    <strong>6400</strong>
    </td>
    </tr>
    </tbody>
    </table>

    </div>

    </div>

    </div>
    </div>
<hr>
</div>
</div>
