<div class="card mt-2">
    <div class="card-header text-black row justify-content-center">
      <h4> Liste des produits </h4>
    </div>
    <div class="card-body">
     <table class="table table-bordered table-striped">
       <thead>
         <tr>
           <th> </th>
           <th>Réference produit</th>
           <th>Libelle</th>
           <th>Qantite en stock</th>
           <th>Prix</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <tr  *ngFor="let item of produit">
           <td> <img  src="{{item.image}}" height="70" width="90"></td>
           <td>{{item.reference_Produit}}</td>
           <td>{{item.libelle}}</td>
           <td>{{item.prix}}</td>
           <td>{{item.qte}}</td>
         </tr>
       </tbody>
     </table>
    </div>
  </div>


