<hr>
<div class="col">
    <div class="row" >
        <div class="col-12">
           <div class="input-group">
             <input class="form-control border-secondary py-2" type="search" value="recherche">
             <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText"  placeholder="Recherche " >
       </form>
      </div>

      <div class="col">
        <ul class="pagination pg-red justify-content-end">
          <pagination-controls (pageChange)="p =$event" class="page-item"><a class="page-link" mdbWavesEffect>1</a></pagination-controls>
        </ul>
      </div>
     </div>

  <div class="row">
    <div class="col-md-2" *ngFor ="let prod of produit | mypipe : searchText  | paginate : { itemsPerPage:12, currentPage : p}">
      <mdb-card cascade="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <img class="card-img-top" src="{{prod.image}} " height="100" width="100">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Category & Title-->
          <mdb-card-title>
            <h6 class="card-title"><strong><a>{{prod.libelle}}</a></strong></h6>
          </mdb-card-title>
          <!--Description-->
          <mdb-card-text class="card-text">
              <hr>
          </mdb-card-text>
          <!--Card footer-->
          <mdb-card-text>
            <span class="float-left">{{prod.prix}} (TND)  </span>
              <span class="float-right">
                <a ><i class="fa-shopping-cart " ></i></a>
                <a ><i class="fa fa-search-plus "[routerLink]="[ '/detailproduits', prod.reference_Produit ] "></i> </a>
              </span>
          </mdb-card-text>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  </div>
  <hr>


