<hr>
<div class="col">
    <div class="row" >

        <div class="col">
        <div class="input-group input-group-sm ">
        <div class="input-group-prepend">
          <span class="input-group-text" > <span><i class="fa fa-search  "></i></span></span>
        </div>
        <input class="form-control input-sm" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText" type="text"  placeholder="" aria-label="recherche" aria-describedby="basic-addon1">
        </div>
        </div>

        <!-- <div class="col">
        <form>
            <span><i class="fa fa-search  "></i></span>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText"  placeholder="Recherche " >
       </form>
      </div> -->

      <div class="col">
        <ul class="pagination pg-red justify-content-end">
          <pagination-controls (pageChange)="p =$event" class="page-item"><a class="page-link" mdbWavesEffect>1</a></pagination-controls>
        </ul>
      </div>
     </div>

  <div class="row">
    <div class="col-md-2" *ngFor ="let prod of produit | mypipe : searchText  | paginate : { itemsPerPage:12, currentPage : p}">
      <mdb-card cascade="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <a [routerLink]="[ '/detailproduits', prod.reference_Produit ] ">
            <img class="card-img-top" src="{{prod.image}} " height="100" width="100">
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Category & Title-->
          <mdb-card-title>
            <h6 class="card-title"><strong><a>{{prod.libelle}}</a></strong></h6>
          </mdb-card-title>
          <!--Description-->
          <mdb-card-text class="card-text">
              <hr>
          </mdb-card-text>
          <!--Card footer-->
          <mdb-card-text>
            <span class="float-left">{{prod.prix}} (TND)  </span>
              <span class="float-right">
                  <a  type="button"><span class="fa fa-shopping-cart" style="height: 20px; width: 20px ;" [routerLink]="[ '/detailproduits', prod.reference_Produit ] "></span></a>
              </span>
          </mdb-card-text>

          <mdb-card-text>
            <h6 class="float-left">{{count}}  </h6>
              <span class="float-right">
          <a   type="button"><span class="fa fa-thumbs-up " style="height: 20px; width: 30px ;"></span></a>
          <a   type="button"><span class="fa fa-thumbs-down" style="height: 20px; width: 30px ;"></span></a>
            </span>
        </mdb-card-text>
      </mdb-card-body>

      </mdb-card>
    </div>
  </div>
  </div>
  <hr>


