<div class="col">
    <div class="row" >
        <div class="col">

        <form>
            <span><i class="fa fa-search  "></i></span>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText"  placeholder="Recherche " >
       </form>
      </div>

      <div class="col">
        <ul class="pagination pg-red justify-content-end">
          <pagination-controls (pageChange)="p =$event" class="page-item"><a class="page-link" mdbWavesEffect>1</a></pagination-controls>
        </ul>
      </div>
     </div>

  <div class="row">
    <div class="col-md-2" *ngFor ="let item of produit | mypipe : searchText">
      <mdb-card cascade="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <img class="card-img-top" src="{{item.image}} " height="100" width="100">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Category & Title-->
          <mdb-card-title>
            <h6 class="card-title"><strong><a>{{item.libelle}}</a></strong></h6>
          </mdb-card-title>
          <!--Description-->
          <mdb-card-text class="card-text">
              <hr>
          </mdb-card-text>
          <!--Card footer-->
          <mdb-card-text>
            <span class="float-left">{{item.prix}} (TND)  </span>
              <span class="float-right">
                <a ><i class="fa-shopping-cart " ></i></a>
                <a ><i class="fa fa-search-plus "[routerLink]="[ '/detailproduits', item.reference_Produit ] "></i> </a>
              </span>
          </mdb-card-text>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  </div>


    <!-- slide partenaire -->
<section class="container text-center ">
    <h4>Nos Partenaires</h4>
  <mdb-carousel>
        <mdb-slide>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/68/Bic_Logo.svg/1280px-Bic_Logo.svg.png" height="40" width="100" alt="partenaire" class="rounded-circle img-fluid" >
              </div>
             </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
              <div class="testimonial">
                <div class="avatar mx-auto">
                  <img src="http://www.pcemballage.com/wp-content/uploads/2018/10/logo-client-pce_0110_Objet-dynamique-vectoriel.png" height="40" width="100" alt="partenaire" class="rounded-circle img-fluid" >
                </div>
               </div>
            </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="https://www.rentreediscount.com/publicmedia/formatted/296/630/85/fr/CANSON.png;h=200,w=200.png" class="rounded-circle img-fluid" height="40" width="100" alt="partenaire">
              </div>
            </div>
          </div>
        </mdb-slide>
        <mdb-slide>
          <div class="col-md-4">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="https://www.rentreediscount.com/publicmedia/formatted/296/632/29/fr/LAROUSSE.png;h=200,w=200.png" class="rounded-circle img-fluid" height="40" width="100" alt="partenaire">
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="https://www.rentreediscount.com/publicmedia/formatted/296/632/33/fr/UHU.png;h=200,w=200.png" class="rounded-circle img-fluid" height="40" width="100" alt="partenaire">
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="https://www.rentreediscount.com/publicmedia/formatted/296/628/17/fr/MAPED.png;h=200,w=200.png" class="rounded-circle img-fluid" height="40" width="100" alt="partenaire">
              </div>
            </div>
          </div>
        </mdb-slide>
        <mdb-slide>
          <div class="col-md-4">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="http://libanis.e-monsite.com/medias/album/staedtler-logo.jpg" class="rounded-circle img-fluid" height="40" width="100" alt="partenaire">
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="https://www.rentreediscount.com/publicmedia/formatted/296/632/32/fr/SCOTCH.png;h=200,w=200.png" height="40" width="100" alt="partenaire" class="rounded-circle img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <div class="avatar mx-auto">
                <img src="https://www.rentreediscount.com/publicmedia/formatted/296/632/26/fr/HACHETTE.png;h=200,w=200.png" height="40" width="100" alt="partenaire"class="rounded-circle img-fluid">
              </div>
            </div>
          </div>
        </mdb-slide>
      </mdb-carousel>
  </section>
