<div class="container">
  <hr>
		<iframe  width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen >
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
    </iframe>
	<div class="contact-form">
		<h2 class="title">Contactez Nous</h2>
		<h4 class="subtitle">Nous sommes là pour vous aider <i class="fa fa-smile-o" aria-hidden="true"></i>   </h4>
		<form [formGroup]="contactform" >
			<input type="text" #nom name="name" placeholder="Votre nom" class="form-control" />
			<input type="email" #mail name="e-mail" placeholder="Votre adresse mail " class="form-control" />
			<input type="tel" #tel name="phone"  placeholder="Votre numero " class="form-control"/>
      <textarea name="text" #message id="" rows="5" placeholder="Votre Message" class="form-control"></textarea>
      <!-- <form [formGroup]="contactform" (ngSubmit)="onSubmit()"> </form> -->
			<button class="btn-send" [disabled]="!contactform.valid" (click)="ajoutContact(nom,mail,tel,message)"> <i class="fa fa fa-paper-plane"> Envoyer </i></button>
		</form>
  </div>
  <hr>
</div>
