<div class="container">
  <hr>
	<div class="map">
		<iframe src="https://www.google.com/maps/@36.846185,10.276839,15z" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="contact-form">
		<h2 class="title">Contactez Nous</h2>
		<h4 class="subtitle">Nous sommes là pour vous aider <i class="fa fa-smile-o" aria-hidden="true"></i>   </h4>
		<form [formGroup]="contactform" >
			<input type="text" #nom name="name" placeholder="Votre nom" class="form-control" />
			<input type="email" #mail name="e-mail" placeholder="Votre adresse mail " class="form-control" />
			<input type="tel" #tel name="phone"  placeholder="Votre numero " class="form-control"/>
      <textarea name="text" #message id="" rows="5" placeholder="Votre Message" class="form-control"></textarea>
      <!-- <form [formGroup]="contactform" (ngSubmit)="onSubmit()"> </form> -->
			<button class="btn-send" [disabled]="!contactform.valid" <a class="btn btn-info waves-light" (click)="showInfo()" mdbWavesEffect>Info message</a>
        (click)="ajoutContact(nom,mail,tel,message)"> <i class="fa fa fa-paper-plane"> Envoyer </i></button>
		</form>
  </div>
  <hr>
</div>
