<div class="container">
	<div class="map">
        <agm-map  [latitude]="lat" [longitude]="lng" zoom="8">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
	</div>
	<div class="contact-form">
		<h4 class="title">Contactez Nous</h4>
		<h5 class="subtitle">Nous sommes là pour vous aider <i class="fa fa-smile-o" aria-hidden="true"></i>   </h5>
		<form [formGroup]="contactform" >
			<input type="text" #nom name="name" placeholder="Votre nom" class="form-control" />
			<input type="email" #mail name="e-mail" placeholder="Votre adresse mail " class="form-control" />
			<input type="tel" #tel name="phone"  placeholder="Votre numero " class="form-control"/>
      <textarea name="text" #message  rows="4" placeholder="Votre Message" class="form-control"></textarea>
      <!-- <form [formGroup]="contactform" (ngSubmit)="onSubmit()"> </form> -->
			<button class="btn-send" [disabled]="!contactform.valid" (click)="ajoutContact(nom,mail,tel,message)"> <i class="fa fa fa-paper-plane"> Envoyer </i></button>
		</form>
  </div>
  <hr>
</div>
