  <h5 class="text-primary">Information de Compte</h5>
  <p>
    <strong>Utilisateur:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>


