<div class="card mt-2">
  <div class="card-header text-black row justify-content-center">
    <h4> Liste des Clients </h4>
  </div>
  <div class="card-body">
   <table class="table table-bordered table-striped">
     <thead>
       <tr>
         <th>CIN</th>
         <th>Nom</th>
         <th>Mail</th>
         <th>Tel</th>
       </tr>
     </thead>
     <tbody>
       <tr  *ngFor="let item of Contact">
         <td>{{item.nom}}</td>
         <td>{{item.mail}}</td>
         <td>{{item.tel}}</td>
         <td>{{item.message}}</td>
         <td><button class="btn btn-danger" (click)="DeleteContact(item.id)" ><i class="fa fa-trash "></i></button></td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
