<div class="container">
  <form>
    <div class="form-group">
      <label>Cin</label>
      <input type="input" #cin class="form-control" placeholder="cin" />
      <label>Pseudo</label>
      <input type="input" #pseudo class="form-control" placeholder="prenom" />
      <label>Mot de Password</label>
      <input type="input" #mdp class="form-control" placeholder="prenom" />
      <label>Prenom</label>
      <input type="input" #prenom class="form-control" placeholder="prenom" />
      <label>Nom</label>
      <input type="input" #nom class="form-control" placeholder="nom" />
      <label>Email</label>
      <input
        required
        ngModel
        name="email"
        #email
        type="email"
        class="form-control"
        placeholder="email"
      />
      <!-- *ngIf="!email.touched" -->
      <div class="alert alert-danger">Email est obligatoire</div>
      <div class="form-group">
        <label>Tel</label>
        <input type="input" #tel class="form-control" placeholder="tel" />
        <label>Adresse</label>
        <input
          type="input"
          #adresse
          class="form-control"
          placeholder="Adresse"
        />
      </div>
    </div>
    <button

      (click)="ajoutClients(cin, pseudo, mdp, prenom, nom, email, tel, adresse)"

      class="btn btn-primary fa fa-plus	"
    >
      ajouter
    </button>
  </form>
</div>
