<div *ngIf="isLoggedIn; else loggedOut">
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Nom d'utilisateur est obligatoir</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="4" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">mot de passe est obligatoir</div>
          <div *ngIf="password.errors.minlength">mot de passe doit être composé de plus que 4 caractères</div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" mdbBtn color="light" mdbWavesEffect>Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Erreur de connexion : {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
    <p>Créer votre compte </p>
    <a href="signup" type="button" btn-sm mdbBtn color="dark" mdbWavesEffect>Sign Up</a>
  </div>
</ng-template>
