<hr>
<div class="container">

<!-- <div >
    <ul class="breadcrumb">
    <li><a [routerLink]="[''] ">Page d'acceuil</a> <span class="divider">/</span></li>
    <li> Fourniture Scolaire  </li>
    </ul>
</div>

<hr>

<div class="col">
    <div class="row" >
        <div class="col">
        <form>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText"  placeholder="Recherche " >
       </form>
      </div>

      <div class="col">
        <nav aria-label="Page navigation example">
        <ul class="pagination pg-red justify-content-end">

          <pagination-controls (pageChange)="p =$event" class="page-item">
            <a class="page-link" mdbWavesEffect>1</a>
          </pagination-controls>
        </ul>
        </nav>
      </div>
     </div> -->


     <!-- | mypipe : searchText  | paginate : { itemsPerPage:12, currentPage : p} -->
    <div class="row">
    <div class="col-md-2" *ngFor ="let c of cat">
      <!-- <mdb-card cascade="true" *ngFor= "let p of c.produit.reference_Produit" >
        <div class="view view-cascade overlay waves-light" mdbWavesEffect >
          <a [routerLink]="[ '/detailproduits', p.reference_Produit ] ">
            <img class="card-img-top" src="{{p.image}} " height="100" width="100">
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <mdb-card-title>
            <h6 class="card-title"><strong><a>{{p.libelle}}</a></strong></h6>
          </mdb-card-title>
          <mdb-card-text class="card-text">
              <hr>
          </mdb-card-text> -->
          <mdb-card-text *ngFor ="let c of cat">
              <span class="float-left">{{c.produit.libelle}} (TND)  </span>

            <span class="float-left">{{c.libelle_categorie}} (TND)  </span>
              <span class="float-right">
                <a ><i class="fa-shopping-cart " ></i></a>
                <!-- <a ><i class="fa fa-search-plus "[routerLink]="[ '/detailproduits', p.reference_Produit ] "></i> </a> -->
              </span>
          </mdb-card-text>
        <!-- </mdb-card-body>
      </mdb-card> -->
  <hr>
  </div>
  </div>
  </div>
  <!-- </div> -->


