<hr>
<div class="span9" id="mainCol">
    <ul class="breadcrumb">
    <li><a [routerLink]="[''] ">Page d'acceuil</a> <span class="divider">/</span></li>
    <li> Fourniture Scolaire  </li>
    <!-- <li> Sac </li> -->
    </ul>
</div>
<div class="col">
    <div class="row" >

        <div class="col">
        <form>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText"  placeholder="Recherche " >
       </form>
      </div>

      <div class="col">
        <ul class="pagination pg-red justify-content-end">
          <pagination-controls (pageChange)="p =$event" class="page-item"><a class="page-link" mdbWavesEffect>1</a></pagination-controls>
        </ul>
      </div>
     </div>

  <div class="row">
    <div class="col-md-2" *ngFor ="let prod of produit | mypipe : searchText  | paginate : { itemsPerPage:12, currentPage : p}">
      <mdb-card cascade="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <a [routerLink]="[ '/detailproduits', prod.reference_Produit ] ">
            <img class="card-img-top" src="{{prod.image}} " height="100" width="100">
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Category & Title-->
          <mdb-card-title>
            <h6 class="card-title"><strong><a>{{prod.libelle}}</a></strong></h6>
          </mdb-card-title>
          <!--Description-->
          <mdb-card-text class="card-text">
              <hr>
          </mdb-card-text>
          <!--Card footer-->
          <mdb-card-text>
            <span class="float-left">{{prod.prix}} (TND)  </span>
              <span class="float-right">
                <a ><i class="fa-shopping-cart " ></i></a>
                <a ><i class="fa fa-search-plus "[routerLink]="[ '/detailproduits', prod.reference_Produit ] "></i> </a>
              </span>
          </mdb-card-text>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  </div>
  <hr>


