<div class="container">
<div >
    <ul class="breadcrumb">
    <li><a [routerLink]="[''] ">Page d'acceuil</a> <span class="divider">/</span></li>
    <li> Fourniture Scolaire <span class="divider">/</span> </li>
    <li> {{cat?.libelle_categorie}}  </li>
    </ul>
</div>
<hr>
<div class="col">
    <div class="row" >
        <div class="col">
        <form>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText"  placeholder="Recherche " >
       </form>
      </div>

      <div class="col">
        <nav aria-label="Page navigation example">
        <ul class="pagination pg-red justify-content-end">

          <pagination-controls (pageChange)="p =$event" class="page-item">
            <a class="page-link" mdbWavesEffect>1</a>
          </pagination-controls>
        </ul>
        </nav>
      </div>
     </div>

  <div class="row">

    <!-- <div class="col-md-3" *ngFor ="let c of cat?.produit | mypipe : searchText  | paginate : { itemsPerPage:12, currentPage : p}"> -->
      <mdb-card cascade="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <a [routerLink]="[ '/detailproduits', c.reference_Produit ] ">
            <img class="card-img-top" src="{{c.image}} " height="100" width="100">
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Category & Title-->
          <mdb-card-title>
            <h6 class="card-title"><strong><a>{{c.libelle}}</a></strong></h6>
          </mdb-card-title>
          <!--Description-->
          <mdb-card-text class="card-text">
              <hr>
          </mdb-card-text>
          <!--Card footer-->
          <mdb-card-text>
            <span class="float-left">{{c.prix}} (TND)  </span>
              <span class="float-right">
                  <a  type="button"><span class="fa fa-shopping-cart" style="height: 20px; width: 20px ;" [routerLink]="[ '/detailproduits', c.reference_Produit ] "></span></a>
              </span>
              <br style="display:block; margin-top:0px; line-height:22px;">
          </mdb-card-text>

          <mdb-card-text>
            <h6 class="float-left">{{c.favorie}}  </h6>
              <span class="float-right">
          <a   type="button"><span  class="fa fa-thumbs-up " (click)="likeClick(c)" style="height: 20px; width: 30px ;"></span></a>
          <a   type="button"><span class="fa fa-thumbs-down" (click)="dislikeClick(c)" style="height: 20px; width: 30px ;"></span></a>
            </span>
        </mdb-card-text>
      </mdb-card-body>

      </mdb-card>
    </div>
    </div>
    <hr>

