
 .card {
    margin: 12px;
    padding:20px;
   }
   .btn-secondary
   {background-color: #e7e7e7; border-color: #e7e7e7;}
.btn-secondary:hover
{
  background-color: gray;
  border-color: gray;
 }
 float:left;
	   margin:0 10px; /* 10px a droite et a gauche de l image */
	   padding:0;
	   width: 130px;
	   height: 120px;
/* .btn-secondary:active */
/* .btn-primary:visited{
  background-color: aliceblue;
  border-color: rgb(190, 190, 190);
} */
/* .btn-dark:focus {
    background-color: dimgray;
    border-color: dimgray;
} */
