
  <div class="row " >
    <div class="col-md-3" *ngFor ="let item of produit">
      <div class="card" >
        <img class="card-img-top" src="{{item.image}} " height="100" width="100">
        <div class="card-body">
        <h5 class="card-title"> {{item.libelle}} </h5>
          <p class="card-text">{{item.prix}} dt <br> </p>
        </div>
        <a  class="btn  btn-sm fa fa-search-plus ">
        <a  class="btn btn-secondary btn-sm fa fa-shopping-cart" > Ajouter au panier </a> </a>
      </div>
    </div>
  </div>

