<div class="container">
<form [formGroup]="produitform" >
  <div  class="form-group">
  <label>Reference produit: </label>
    <input type="text" #reference_Produit formControlName="reference_Produit" class="form-control">

  <label> Libelle: </label>
    <input type="text" #libelle formControlName="libelle" required class="form-control">

  <label>Prix:   </label>
    <input type="text" #prix formControlName="prix" class="form-control">

  <label>Quantite:   </label>
    <input type="text"  #qte formControlName="qte" class="form-control">

  <label> Seuil:   </label>
    <input type="text" #qte_seuil  formControlName="qte_seuil"class="form-control" >

  <label> description:   </label>
    <input type="text" #description  formControlName="description" class="form-control">

  <label> Image de produit:   </label>
    <input type="text" #image formControlName="image" class="form-control">

    <!-- <label> Categorie:   </label>
    <input type="text" #categorie formControlName="categorie" class="form-control"> -->

    <div class="form-group"  *ngFor ="let c of categorie"  >
      <label for="sel1">Select categorie:</label>
      <select class="form-control" >
        <option>{{cibelle_categorie</option>
      </select>
    </div>

</div>

<form [formGroup]="produitform" (ngSubmit)="onSubmit()"> </form>
<button type="submit" [disabled]="!produitform.valid" (click)="ajoutProduits(reference_Produit,libelle,prix,qte,qte_seuil,description,image)">Ajouter le produit</button>
<p> Form Status: {{ produitform.status }}  </p>
