<div *ngIf="info.token; else pleaselogin">

<mdb-card>
    <mdb-card-body>

      <!-- Shopping Cart table -->
      <div class="table-responsive">

        <table class="table product-table">

          <!-- Table head -->
          <thead class="mdb-color lighten-5">
            <tr>
              <th></th>
              <th class="font-weight-bold">
                <strong>Produit</strong>
              </th>

              <th></th>
              <th class="font-weight-bold">
                <strong>Prix unitaire</strong>
              </th>
              <th class="font-weight-bold">
                <strong>Qte</strong>
              </th>
              <th class="font-weight-bold">
                <strong>Prix</strong>
              </th>
              <th></th>
            </tr>
          </thead>
          <!-- /.Table head -->

          <!-- Table body -->
          <tbody>

            <!-- First row -->
            <tr>
              <th scope="row">
                <img src="https://www.bickids.com/sites/default/files/visa%20main%202.png" height="90" width="80" alt="" class="img-fluid z-depth-0">
              </th>
              <td>
                <h5 class="mt-3">
                  <strong>Feutre</strong>
                </h5>
                <p class="text-muted">feutre</p>
              </td>
              <td></td>
              <td>800 (dt)</td>
              <td>
                <input type="number" value="2" aria-label="Search" class="form-control" style="width: 100px">
              </td>
              <td class="font-weight-bold">
                <strong>1600 (dt)</strong>
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Remove item">X
                </button>
              </td>
            </tr>


            <!-- Fourth row -->
            <tr>
              <td colspan="3"></td>
              <td>
                <h4 class="mt-2">
                  <strong>Prix Totale</strong>
                </h4>
              </td>
              <td class="text-right">
                <h4 class="mt-2">
                  <strong>1600 (dt)</strong>
                </h4>
              </td>
              <td colspan="3" class="text-right">
                <button type="button" [routerLink]="['/facture'] " class="btn btn-primary ">Valider les Achats
                  <i class="fa fa-angle-right right"></i>
                </button>
              </td>
            </tr>
            <!-- Fourth row -->
          </tbody>
          <!-- /.Table body -->
        </table>
      </div>
      <!-- /.Shopping Cart table -->
    </mdb-card-body>
  </mdb-card>
<hr>
